[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Vishal (vish-dawange)
[access "refs/for/refs/*"]
	read = group user/Vishal (vish-dawange)
	push = group user/Vishal (vish-dawange)
	label-Code-Review = -2..+2 group user/Vishal (vish-dawange)
	label-Verified = -1..+1 group user/Vishal (vish-dawange)
	rebase = group user/Vishal (vish-dawange)
	removeReviewer = group user/Vishal (vish-dawange)
	submit = group user/Vishal (vish-dawange)
[access "refs/heads/*"]
	read = group user/Vishal (vish-dawange)
	create = group user/Vishal (vish-dawange)
	push = +force group user/Vishal (vish-dawange)
	pushMerge = group user/Vishal (vish-dawange)
[access "refs/tags/*"]
	push = +force group user/Vishal (vish-dawange)
	pushTag = group user/Vishal (vish-dawange)
	pushSignedTag = group user/Vishal (vish-dawange)
